<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0" />
        <title>OMDB Search</title>
    </head>
    <body>
        <div id="main">
            <div id="form">
                <form id="search-form">
                    <label for="title-input">Name</label>
                    <br>
                    <input type="text" id="title-input">
                    <br><br>
                    <label for="page-input">PageNo</label>
                    <br>
                    <input type="number" id="page-input">
                    <br><br>
                    <button type="submit" class="full">Subscribe</button>
                </form>
            </div>
        </div>

        <!-- Here a loader is created which 
             loads till response comes -->
        <!-- <div class="d-flex justify-content-center">
            <div class="spinner-border" 
                 role="status" id="loading">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- <h1>Registered Employees</h1> -->
        <!-- table for showing data -->
        <!-- <table id="employees"></table> -->
    </body>
    <script src="script.js"></script>
</html>